* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.container {
  text-align: center;
  color: #fff;
  padding: 1%;
  background: linear-gradient(90deg, rgba(44, 69, 69, 1) 0%, rgba(16, 56, 56, 1) 99%);
  border-radius: 10px;
  box-shadow: 12px 10px 27px -5px #000000;
}

.container h1 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  padding: 5px;
}

.container p {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  padding: 15px;
}

.container button {
  font-family: 'Franklin Gothic Medium', sans-serif;
  background: #02E08B;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#gerador {
  transition: transform 0.3s ease;
}

#gerador:hover {
  transform: perspective(500px) rotateX(40deg) scale(1.2);
}